:root{
    --text-color:#FFFFFF;
    
}
*{box-sizing: border-box;
margin: 0;
padding: 0;}
*,
 *::before,
 *::after {box-sizing: inherit;}
ul {
    list-style: none;
    margin: 0;
    padding: 0;}
    
  h2 h3 p {
 list-style: none;
  }
.back{

 color: var(--text-color);
 box-sizing: border-box;  
 background-image: url(../images/hero.jpg);
 max-width: 1916px;
 max-height: 1069px;
 padding-bottom: 257px;
 margin: 0;
  }

.container{
width: 1120px;   
margin: 0 auto;


}
.header {
color: var(--text-color);
display: block;
display: flex;
margin:0;
align-items: baseline ;



}

.logo-moon{
  display: inline-block;
  margin:0;
  margin-right: 20px;
  padding:0;
}
.logo-moon a{
  justify-content: center;
  display: flex;
  align-items: center;
}

.logo-text{
font-family:'Serif';
font-weight: 700;
font-size: 20px;
line-height: 1.325;
line-height: 100%;

display:inline-block;
margin-right: 179px;
margin-top: 15px;
margin-bottom: 17px;
}
.logo-text-two{
font-family: 'Roboto';
font-weight: 400px;
font-size: 18px;
line-height: 1.1716;
line-height: 100%;
color: var(--text-color);


}

.contacts{
 display: inline-block;
 
 font-family: 'Roboto';
 font-weight: 700;
 font-size: 18px;
 line-height: 1.3;
 line-height: 130%;
 color: var(--text-color);
 margin-top: 28px;
 margin-bottom: 29px;
 
}

.contacts li{
  display: inline-block;
  color: var(--text-color);
  margin-right: 33px;
  align-items: baseline;
}
.contacts li:last-child{
  margin-right: 45px;
}
.contacts a{
  text-decoration: none;
  color: var(--text-color);
}
.button{
font-family: 'Roboto';
font-weight: 400px;
font-size: 16px;
line-height: 1.1718;
line-height: 100%;
text-align: center;
border-radius: 22px;
border: 1px solid rgba(255, 255, 255, 0.5);
background: none;

color: var(--text-color);
padding-top: 12px;
padding-bottom: 18px;
padding-right: 6px;
padding-left: 6px;
margin-top: 18px;
margin-bottom:19px;

}

.nav{
  display: flex;
  margin: 0;
  padding: 0;
}
.nav ul{
 display: inline-block;
 display: flex;
 font-family: 'Roboto';
 color: var(--text-color);
 font-weight: 400px;
 font-size: 16px;
 line-height: 19px;
 line-height: 100%;
 margin-top: 20px;
}
.nav a{
  text-decoration: none;
  color: var(--text-color);
  
}
.nav a:last-child{
  margin-right: 0;
}
  
.nav li{
  margin-right: 32px;
  
  margin-bottom: 0;
  padding:0;

}
.nav li:last-child{
  margin-right: 0;
}

.hero h1{
font-family: 'Serif';
font-weight: 700;
font-size: 90px;
line-height: 117px;
line-height: 130%;

text-align: left;
margin-bottom: 16px;

}
.hero p{
font-family: 'Roboto';
font-weight: 400px;
font-size: 20px;
line-height: 1.4;
line-height: 140%;
text-align: left;
margin-bottom: 94px;
}
.tour{
font-family: 'Roboto';
font-weight: 500px;
font-size: 18px;
line-height: 1.1716;
line-height: 100%;
text-align: center;
text-transform: uppercase;
color: var(--text-color);
margin:0;
border-radius: 30px;
border: 1px solid rgba(255, 255, 255, 1);
background: none;


padding-top: 19px;
padding-bottom: 20px;
padding-right: 53px;
padding-left: 53px;
}

.mail{

  display: inline-block;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  fill:var(--main-text-color);
  margin-right: 12px;
  fill: currentColor;}

.tel
{
  display: inline-block;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  fill:var(--main-text-color);
  margin-right: 13px;
  fill: currentColor;
  }

.a{
    color:inherit;
    text-decoration: none;
    }

